<div class="block py-8 mx-auto max-w-7xl" x-data="ItemsSlider()">
    <div class="w-full swiper" x-ref="container">

        <ul class="flex space-x-8 swiper-wrapper">

            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-1.jpg" alt="">
            </li>

            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-2.jpg" alt="">
            </li>

            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-3.jpg" alt="">
            </li>

            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-4.jpg" alt="">
            </li>

            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-5.jpg" alt="">
            </li>

            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-6.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-7.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-8.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-9.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-10.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-11.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-12.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-13.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-14.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-15.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-16.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-17.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-18.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-19.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-20.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-21.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-22.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-23.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-24.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-25.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-26.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-27.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-28.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-29.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-30.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-31.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-32.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-33.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-34.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-35.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-36.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-37.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-38.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-39.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-40.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-41.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-42.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-43.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-44.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-45.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-46.jpg" alt="">
            </li>
            <li class="flex flex-col justify-center p-3 text-center bg-gray-100 swiper-slide min-w-72">
                <img class="aspect-[12/13] w-full rounded-2xl object-cover" src="/assets/gallery-47.jpg" alt="">
            </li>

        </ul>


        <button class=" swiper-button-prev" x-on:click="swiper.slidePrev()">
            <i class="fa-solid fa-circle-chevron-left fa-2x"></i>
        </button>

        <button class=" swiper-button-next" x-on:click="swiper.slideNext()">
            <i class="fa-solid fa-circle-chevron-right fa-2x"></i>
        </button>

    </div>


</div>