
<div class="py-20 lg:mt-16">
    <div class="flex flex-col justify-center h-full">

        <div class="relative flex flex-col mx-auto lg:space-x-8 lg:flex-row max-w-7xl">
            <div class="relative flex-1 order-2 lg:order-1">
                <img class="relative lg:-top-14 -top-0" src="/assets/img-test.png" alt="What is Lorem Ipsum?">
            </div>

            <div class="flex-1 order-1 p-6 lg:order-2 lg:p-0 lg:pt-16">
                <div class="w-full lg:pl-20">
                    <h2 class="mb-4 text-xl leading-7 lg:text-3xl text-primary-400">What is Lorem Ipsum?</h2>

                    <p class="text-sm leading-7 text-justify text-primary-400">is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It
                        has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                        unchanged. It
                        was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with
                        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>

        <div class="relative flex flex-col mx-auto lg:space-x-8 max-w-7xl lg:flex-row">

            <div class="relative order-3 p-6 lg:flex-1 lg:p-0 lg:py-20">

                <h2 class="mb-4 text-xl leading-7 lg:text-3xl text-primary-400">Why do we use it?</h2>

                <p class="mt-6 text-sm leading-7 text-primary-400">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its
                    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                    using
                    'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
                    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
                    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                    (injected humour and the like).</p>

            </div>
            <div class="relative order-4 lg:flex-1 lg:translate-x-2 lg:-bottom-0">
                <img class="w-full lg:ml-2 " src="/assets/img-test.png" alt="">
                </div>

        </div>
    </div>

</div>


<div class="w-full lg:py-16 bg-primary-400">
    <div class="mx-auto max-w-7xl">
        <div class="flex flex-col w-full space-x-4 lg:flex-row">
            <div class="flex-1">
                <div class="flex justify-center w-full">
                    <img class="w-full lg:py-4" src="/assets/img-test.png" alt="">
                </div>
            </div>


            <div class="relative flex items-center flex-1 text-white lg:text-justify bg-gray-10 lg:custom-after">
                <div class="p-6">
                    <h2 class="mb-4 text-xl leading-7 lg:text-3xl ">Where can I get some?</h2>
                    <p class="mb-4 text-sm text-justify">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                        by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of
                        Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum
                        generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the
                        Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to
                        generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
                        injected humour, or non-characteristic words etc.
                    </p>

                    <a href="products.html" class="block py-2 font-semibold text-indigo-600"><span class=""
                            aria-hidden="true"></span>More about variants <span aria-hidden="true">&rarr;</span></a>
                    <div class="grid justify-between grid-cols-2 gap-4 lg:grid-cols-4">
                            <img loading="lazy"
                                src="/assets/img-test.png"
                                alt=""
                                title=""
                                class="">
                       
                            <img loading="lazy" src="/assets/img-test.png" alt="" title="" class="">
                       
                            <img loading="lazy" src="/assets/img-test.png" alt="" title="" class="">
                      
                            <img loading="lazy" src="/assets/img-test.png" alt="" title="" class="">
                        

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- <div class="relative flex flex-col p-6 py-0 mx-auto lg:flex-row max-w-7xl">
    <div class="flex-1 pb-4 text-2xl lg:text-4xl lg:pb-0">

        <div class="max-w-2xl"> High quality components, outstanding properties</div>
    </div>
    <div class="flex-1">
        <div>
            The technical properties of the products in the optical glass portfolio offer a wide variety of
            application
            use. From high homogeneity and narrow refractive index to exceptional transmittance and low
            transition
            temperatures, we can supply optical glass made to your exact specification. With compliance with the
            latest
            industry standards plus continuous monitoring and inspection, high quality also comes as standard.
        </div>
        <div class="py-6">
            <a href="#" class="text-indigo-700">Explore material properties in detail</a>
        </div>
    </div>
</div> -->

